<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<div class="cards-container">
  <div class="card">
    <div class="card-icon">
      <i class="fas fa-book-open"></i>
    </div>
    
    <div class="card-content">
      <h3>{{ 'dashresponsavel-1' | transloco }}</h3>
      <p>{{ 'dashresponsavel-2' | transloco }}</p>
    </div>
    
    <div class="card-action">
      <button class="btn-primary" routerLink="/dashboard-responsaveis/acompanhamento-filhos">
        
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>

  <div class="card">
    <div class="card-icon">
      <i class="fas fa-clipboard-list"></i>
    </div>
    
    <div class="card-content">
      <h3>Chat</h3>
      <p>{{ 'dashresponsavel-3' | transloco }}</p>
    </div>
    
    <div class="card-action">
      <button class="btn-primary" routerLink="/chat-responsavel">
      
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>


  <!-- 

  <div class="card">
    <div class="card-icon">
      <i class="fas fa-plus-square"></i>
    </div>
    
    <div class="card-content">
      <h3>Criar Atividades</h3>
      <p>Desenvolva novas atividades personalizadas e avaliações para suas turmas.</p>
    </div>
    
    <div class="card-action">
      <button class="btn-primary" routerLink="/criar-atividade">
        Criar Atividade
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>

  <div class="card">
    <div class="card-icon">
      <i class="fas fa-user-graduate"></i>
    </div>
    
    <div class="card-content">
      <h3>Alunos</h3>
      <p>Acompanhe o progresso e desempenho dos seus alunos em tempo real.</p>
    </div>
    
    <div class="card-action">
      <button class="btn-primary" >
        Ver Alunos
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>

  <div class="card">
    <div class="card-icon">
      <i class="fas fa-chart-line"></i>
    </div>
    
    <div class="card-content">
      <h3>Relatórios</h3>
      <p>Analise dados e gere relatórios detalhados sobre o desempenho da turma.</p>
    </div>
    
    <div class="card-action">
      <button class="btn-primary" >
        Ver Relatórios
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>

  <div class="card">
    <div class="card-icon">
      <i class="fas fa-cogs"></i>
    </div>
    
    <div class="card-content">
      <h3>Configurações</h3>
      <p>Configuração sistema</p>
    </div>
    
    <div class="card-action">
      <button class="btn-primary">
       
        Configurar
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>

-->