<section class="d-flex align-items-center" style="background: linear-gradient(135deg, #000000 0%, #02315f 100%); min-height: 600px; padding: 3rem 0;">
  <div class="container">
    <div class="row align-items-center gy-4">
      <!-- Imagem  -->
      <div class="col-md-6 text-center">
        <img src="https://images.unsplash.com/photo-1573164713988-8665fc963095?auto=format&fit=crop&w=800&q=80"
             alt="imagm-mulher" class="animated-image shadow-lg" style="max-height: 350px; width: auto;">
      </div>
      
      <!-- Texto -->
      <div class="col-md-6 text-white">
        <h2 class="fw-bold animated-text" style="font-size: 3.5rem;">
          Sistema de Pontuação<br>
          <small class="text-info" style="font-size: 1.5rem;">Reconhecimento por Tarefas Concluídas</small><br>
          <span style="font-size: 1.75rem;">Mais Engajamento e Participação dos Alunos</span>
        </h2>
        <p class="animated-text mt-4">
          Ao concluir atividades, os alunos recebem pontos visuais como forma de incentivo, promovendo motivação contínua e valorizando suas conquistas ao longo do processo de aprendizado.
        </p>
      </div>
    </div>
  </div>
</section>