<nav class="navbar">
  <div class="navbar-brand" routerLink="/dashboard-aluno">
      <img src="/logo-inter-azul.png"  alt="">
    <span>Interlinguas</span>
  </div>
  
  
  
  <div class="navbar-actions">    
    <button class="logout-btn" (click)="voltar()">
      <i class="fas fa-sign-out-alt"></i>
      <span>voltar</span>
    </button>
  </div>
</nav>

<div class="container">
  <div class="d-flex gap-4 align-items-stretch">

    <form (ngSubmit)="salvarAlteracoes()" #profileForm="ngForm" class="w-100">
      <h3 class="mt-0">Nome </h3>
      <div class="form-group">
        <label for="name"></label>
        <input
          id="name"
          name="name"
          [(ngModel)]="responsavel.name"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="botoes-salvar">
       Atualizar nome
      </button>

      <form (ngSubmit)="salvarAlteracaoSenha()" #passwordForm="ngForm" class="w-100">
        <h3 class="mt-0">Trocar a Senha</h3>
        <div class="form-group">
          <label for="oldPassword">Senha Antiga</label>
          <input
            id="senhaAntiga"
            name="senhaAntiga"
            type="password"
            [(ngModel)]="responsavel.senhaAntiga"
            class="form-control"
            required
          />
        </div>
   
        <div class="form-group">
          <label for="newPassword">Nova Senha</label>
          <input
            id="senhaNova"
            name="senhaNova"
            type="password"
            [(ngModel)]="responsavel.senhaNova"
            class="form-control"
            required
          />
        </div>
  
        <button type="submit" class="botoes-salvar">
          Atualizar Senha
        </button>
      </form>
    


    </form>

   </div>

  
</div>