
<app-navbar></app-navbar>

<div class="cotainer-principal">
    <div class="p-3 text-white text-center" style="background: linear-gradient(to right, #ffffff, #02285f);">
  <h5 class="mb-0">Descubra uma nova forma de aprender  com o InterLinguas</h5>
</div>

  <div class="carrosel"><app-carrosel></app-carrosel></div>

  <div class="cor-1">
    <div class="p-3 text-white text-center" style="background: linear-gradient(to right, #ffffff, #02285f);">
  <h5 class="mb-0"></h5>
</div>
  
  <div class="conteudo3"><app-conteudo-3></app-conteudo-3></div>

  <div class="cor-2">
    <div class="p-3 text-white text-center" style="background: linear-gradient(to right, #ffffff, #02285f);">
  <h5 class="mb-0"></h5>
</div>

  <div class="conteudo-principal-2"><app-conteudo-2></app-conteudo-2></div>

  
  <div class="cor-2">
    <div class="p-3 text-white text-center" style="background: linear-gradient(to right, #ffffff, #02285f);">
  <h5 class="mb-0"></h5>
</div>
  
  <div class="conteudo-prinpal-1"><app-conteudo></app-conteudo></div>

  

  <div class="rodape"><app-sobre-nos></app-sobre-nos></div>
</div>