<!-- Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

<section class="py-5 text-white" style="background: linear-gradient(to right, #d1d0d0, #02285d);">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="display-5 fw-bold">{{ 'sobre1' | transloco }}</h2>
      <p class="lead">{{ 'sobre2' | transloco }}</p>
    </div>

    <div class="row g-4">
      <!-- Nosso Propósito -->
      <div class="col-md-6">
        <div class="card h-100 bg-dark text-white border-0 shadow">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-translate me-2">{{ 'sobre3' | transloco }}</i></h5>
            <p class="card-text">
              {{ 'sobre4' | transloco }}
            </p>
          </div>
        </div>
      </div>

      <!-- Para Quem? -->
      <div class="col-md-6">
        <div class="card h-100 bg-dark text-white border-0 shadow">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-people me-2"></i>{{ 'sobre5' | transloco }}</h5>
            <p class="card-text">
              {{ 'sobre6' | transloco }}
            </p>
          </div>
        </div>
      </div>

      <!-- Funcionalidades -->
      <div class="col-md-6">
        <div class="card h-100 bg-dark text-white border-0 shadow">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-laptop me-2"></i>{{ 'sobre7' | transloco }}</h5>
            <p class="card-text">
              {{ 'sobre8' | transloco }}
            </p>
            <ul class="mb-0">
              <li>{{ 'sobre9' | transloco }}</li>
              <li>{{ 'sobre10' | transloco }}</li>
              <li>{{ 'sobre11' | transloco }}</li>
              <li>{{ 'sobre12' | transloco }}</li>
              <li>{{ 'sobre13' | transloco }}</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Multilinguismo -->
      <div class="col-md-6">
        <div class="card h-100 bg-dark text-white border-0 shadow">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-globe me-2"></i>{{ 'sobre14' | transloco }}</h5>
            <p class="card-text">
              {{ 'sobre15' | transloco }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>
