<div class="dashboard">

    <div class="botao-sair"><button (click)="logout()">Sair</button></div>
 
       <div class="dashboard-header">
         <h1>Bem-vindo, aluno.</h1>
         <app-user-profile></app-user-profile>
       </div>
 
 
       <div class="dashboard-content">
         <div class="card">
           <h3>Materias</h3>
           <p>Acesse aqui suas atividades</p>
           <button class="btn-primary" (click)="irParaMateriais()">Ver Materias</button>
         </div>
 
         <div class="card">
           <h3>Chat</h3>
           <p>Tire suas duvidas com seu professor aqui</p>
           <button class="btn-primary" routerLink="/atividades">Chat</button>
         </div>
 
       </div>
   </div>
 