<nav class="navbar">
  <div class="navbar-brand">
      <img src="/logo-inter-azul.png" alt="">
    <span>Interlinguas</span>
  </div>
  
  <h4 class="welcome-msg">
    Bem Vindo, <span class="user-name">{{currentUser?.name}}</span>!
  </h4>
  
  <div class="navbar-actions">
    
    
    <button class="logout-btn" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i>
      <span>Sair</span>
    </button>
  </div>
</nav>

<ng-template #modalLogout let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirmar Saída</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p><strong>Você tem certeza que deseja sair do sistema?</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Não</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('confirm')">Sim, sair</button>
  </div>
</ng-template>