<nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(to right,  #ffffff, #02285d);">
  <div class="container-fluid">
    
    <a class="navbar-brand d-flex align-items-center gap-2 fw-bold fs-4" href="#">
      <img src="https://cdn-icons-png.flaticon.com/512/906/906175.png" alt="Logo InterLinguas" width="30" height="30">
      <div class="logo">InterLinguas</div>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto d-flex align-items-center gap-2">
        <li class="nav-item">
          <a class="btn btn-outline-light" routerLink="/home">Início</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-warning" routerLink="/sobre">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" routerLink="/login">Entrar</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-success" routerLink="/register">Cadastrar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
