<div class="dashboard">

  <div class="botao-sair"><button (click)="logout()">Sair</button></div>

      <div class="dashboard-header">
        <h1>Bem-vindo, {{ currentUser.name }}</h1>
        <app-user-profile></app-user-profile>
      </div>


      <div class="card">
        <h3>Acompanhe seu filho</h3>
        <p>Visualizar o acompanhamento do seu filho(a)</p>
        <button class="btn-primary" routerLink="/dashboard-responsaveis/acompanhamento-filhos">Acompanhe seu filho</button>
      </div>

        <div class="card">
          <h3>Atividades em andamento</h3>
          <p>Visualizar atividades em andamento</p>
          <button class="btn-primary">Ver Atividades</button>
        </div>



      </div>
