<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<aside class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-toggle" (click)="toggleSidebar()">
    <i class="fas" [class.fa-chevron-left]="!isCollapsed" [class.fa-chevron-right]="isCollapsed"></i>
  </div>
   
  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a routerLink="/dashboard-professor" routerLinkActive="active" class="nav-link" data-tooltip="Dashboard">
          <i class="fas fa-tachometer-alt"></i>
          <span class="nav-text">Dashboard</span>
        </a>
      </li>
           
      <li class="nav-item">
        <a routerLink="/materiais" routerLinkActive="active" class="nav-link" data-tooltip="Matérias">
          <i class="fas fa-book-open"></i>
          <span class="nav-text">Matérias</span>
        </a>
      </li>
           
      <li class="nav-item">
        <a routerLink="/atividades" routerLinkActive="active" class="nav-link" data-tooltip="Atividades">
          <i class="fas fa-clipboard-list"></i>
          <span class="nav-text">Atividades</span>
        </a>
      </li>
           
      <li class="nav-item">
        <a routerLink="/criar-atividade" routerLinkActive="active" class="nav-link" data-tooltip="Criar Atividade">
          <i class="fas fa-plus-square"></i>
          <span class="nav-text">Criar Atividade</span>
        </a>
      </li>
           
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" data-tooltip="Alunos">
          <i class="fas fa-user-graduate"></i>
          <span class="nav-text">Alunos</span>
        </a>
      </li>
           
      <li class="nav-item">
        <a routerLink="/professor/relatorios" routerLinkActive="active" class="nav-link" data-tooltip="Relatórios">
          <i class="fas fa-chart-line"></i>
          <span class="nav-text">Relatórios</span>
        </a>
      </li>
           
      <li class="nav-item">
        <a [routerLink]="['/perfil-editar', currentUser?.id]"  routerLinkActive="active" class="nav-link" data-tooltip="Configurações">
          <i class="fas fa-cogs"></i>
          <span class="nav-text">Editar Perfil</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>