.fade-in {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 2.5s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.carousel-inner {
  border-radius: 15px; /* arredonda todo o bloco do carousel */
  overflow: hidden; /* mantém a imagem dentro do raio */
}

.carousel-image {
  object-fit: cover;
  border-radius: 15px; /* garante arredondamento na imagem também */
}
